.bodyCuerpo{
    background-image: $fondoBody;
    margin: 10px;
}
.parrafoDer{
    color: white;
    font-family: cursive;
    font-style: italic;

}
.parrafoIzq{
    color: white;
    font-family: cursive;
    font-style: italic;
}
.tituloChat{
    font-size: 25px;
    font-family: cursive;
    font-style: italic;
}