.bodyCuerpo{
    background-image: $fondoBody;
   
}
.parrafoDer{
    
    color:black;
    background-color: $fondoDer;
    font-family: cursive;
    font-style: italic;

}
.parrafoIzq{
    width: 45%;
    color: black;
    font-family: cursive;
    font-style: italic;
    background-color: $fondoIzq;
}
.tituloChat{
    font-size: 25px;
    font-family: cursive;
    font-style: italic;
}
.imgChat{
    width: 10%;
    height: 10%;
    position: static;
    border-radius: 100%;
}