//VARIABLES UL
$ulMargin:0;
$ulpadding:0;
$styleUl: none;

//VARIABLES PARA LAS CARDS
$card1:pink;

//FONDOCOLOR BOTON
$fondoBody:linear-gradient(90deg, #78f1f1 0%, #FC00FF 100%);
$fondoChat:linear-gradient(90deg, #482645 0%, #FC00FF 100%);

//VARIABLES BOTON
$primary-color:#faa05a;
$secondary-color: blue;

//VARIABLE DIV
$divBorder:border 4px;

//VARIABLE IMAGEN
$Img:200px;

//VARIABLES TITULO
$tituloColor:orangered;
$tituloPorte:30px;

//VARIABLES PARRAFO
$sizePeque:6px;
$sizeGrande:9px;
$colorPeque:blue;
$colorGrande:black;
$familyParrafo:italic;

//MEDIAQUERY
$pantallaExtraSmall : 576px;
$pantallaMedium:768px;
