@media only screen and (max-width: $pantallaExtraSmall) {
    .cabecera__boton{
        display: block;
        position: relative;
        left: 65%;
    
    }
    .cabecera__contenedor__lista{
        display: none;
        
    }
    .cabecera__lista__{
        display: block;
    }
    
    .bloquePrincipal__Izquierdo_contenedorTextoDerecha{
        display: none;
    }

    .bloquePrincipal__Izquierdo__contenedorTextoIzquierda{
        width: 100%;
        display: none;
    }

    .bloquePrincipal__Izquierdo__buscador{
        display: none;
    }
    .bloquePrincipal__Izquierdo__mostrarChats{
        display: block;
    }
    .bloquePrincipal__Derecho{
        font-size: $sizePeque;
    }
    .bloquePrincipal__Izquierdo__contenedorimg__contenido{
        position: relative;
       
    }
}
 @media only screen and ( min-width: $pantallaMedium) {
     .cabecera__contenedor__lista{
         display: block;
     }
     .bloquePrincipal__Izquierdo__contenedorTextoIzquierda{
        display: inherit;
    }
    
 }